.main_heading {
  font-family: "Libre Baskerville", serif;
  position : relative;
  top: 28%;
  font-size: 7vh;
  color : #F36F21;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  line-height: 10vh;
}
.landing_container_right {
  height: 100vh;
  background:#273b89;
  flex-wrap: wrap !important;
}
.landing_container_left {
  height: 100vh;
  flex-wrap : wrap !important;
}
img {
  width : 40vw;
  height : 40vh;
  margin-top : 33%;
  margin-left : 10%;
}
.uploadForm {
  height : 100vh;
  margin : 10% 10%;
}
.input_file_div {
  margin-top : 10%;
  background-color: #fce7d2 !important;
  height: 15vh;
  width : 40vw;
}
.input-file {
  position : fixed;
  top : -9999px;
}
.fa {
  font-size: 3vw !important;
  padding-top : 1px;
  padding-left : 20vw;
}
.input_common {
  font-family: "Nunito", serif !important;
  font-size: 19px !important;
  border-radius: 1px !important;
  color : #F36F21;
  width : 40vw !important;
}
.form-text {
  margin-bottom : 2vh;
}
.main_form {
  height: 40vh;
  flex-direction: column;
  margin-top: 10%;
}
.input_common:focus {
  text-decoration: none !important;
}
.textarea_common {
  width : 40vw !important;
}
.send_button {
  background-color:#F36F21 !important;
  border: 0px !important;
  font-family: "Nunito", serif !important;
  width : 40vw !important;
}